328419122/Web References/localhost/RateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddRating">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="design" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="comfort" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="products" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="service" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddRatingResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowRating">
        <s:complexType />
      </s:element>
      <s:element name="ShowRatingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowRatingResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddRatingSoapIn">
    <wsdl:part name="parameters" element="tns:AddRating" />
  </wsdl:message>
  <wsdl:message name="AddRatingSoapOut">
    <wsdl:part name="parameters" element="tns:AddRatingResponse" />
  </wsdl:message>
  <wsdl:message name="ShowRatingSoapIn">
    <wsdl:part name="parameters" element="tns:ShowRating" />
  </wsdl:message>
  <wsdl:message name="ShowRatingSoapOut">
    <wsdl:part name="parameters" element="tns:ShowRatingResponse" />
  </wsdl:message>
  <wsdl:portType name="RateServiceSoap">
    <wsdl:operation name="AddRating">
      <wsdl:input message="tns:AddRatingSoapIn" />
      <wsdl:output message="tns:AddRatingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <wsdl:input message="tns:ShowRatingSoapIn" />
      <wsdl:output message="tns:ShowRatingSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RateServiceSoap" type="tns:RateServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRating">
      <soap:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <soap:operation soapAction="http://tempuri.org/ShowRating" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RateServiceSoap12" type="tns:RateServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddRating">
      <soap12:operation soapAction="http://tempuri.org/AddRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowRating">
      <soap12:operation soapAction="http://tempuri.org/ShowRating" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RateService">
    <wsdl:port name="RateServiceSoap" binding="tns:RateServiceSoap">
      <soap:address location="https://localhost:44308/RateService.asmx" />
    </wsdl:port>
    <wsdl:port name="RateServiceSoap12" binding="tns:RateServiceSoap12">
      <soap12:address location="https://localhost:44308/RateService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>