328419122/Web References/localhostB/BankService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cnam" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cvc" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="balance" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="DoesExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="cnum" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cvc" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DoesExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DoesExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasAmount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HasAmountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="HasAmountResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Pay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="price" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PayResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mulah" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddToBalanceResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="AddAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="DoesExistSoapIn">
    <wsdl:part name="parameters" element="tns:DoesExist" />
  </wsdl:message>
  <wsdl:message name="DoesExistSoapOut">
    <wsdl:part name="parameters" element="tns:DoesExistResponse" />
  </wsdl:message>
  <wsdl:message name="HasAmountSoapIn">
    <wsdl:part name="parameters" element="tns:HasAmount" />
  </wsdl:message>
  <wsdl:message name="HasAmountSoapOut">
    <wsdl:part name="parameters" element="tns:HasAmountResponse" />
  </wsdl:message>
  <wsdl:message name="PaySoapIn">
    <wsdl:part name="parameters" element="tns:Pay" />
  </wsdl:message>
  <wsdl:message name="PaySoapOut">
    <wsdl:part name="parameters" element="tns:PayResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="AddToBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:AddToBalance" />
  </wsdl:message>
  <wsdl:message name="AddToBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:AddToBalanceResponse" />
  </wsdl:message>
  <wsdl:portType name="BankSoap">
    <wsdl:operation name="AddAccount">
      <wsdl:input message="tns:AddAccountSoapIn" />
      <wsdl:output message="tns:AddAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DoesExist">
      <wsdl:input message="tns:DoesExistSoapIn" />
      <wsdl:output message="tns:DoesExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HasAmount">
      <wsdl:input message="tns:HasAmountSoapIn" />
      <wsdl:output message="tns:HasAmountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <wsdl:input message="tns:PaySoapIn" />
      <wsdl:output message="tns:PaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <wsdl:input message="tns:AddToBalanceSoapIn" />
      <wsdl:output message="tns:AddToBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankSoap" type="tns:BankSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesExist">
      <soap:operation soapAction="http://tempuri.org/DoesExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasAmount">
      <soap:operation soapAction="http://tempuri.org/HasAmount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <soap:operation soapAction="http://tempuri.org/AddToBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BankSoap12" type="tns:BankSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAccount">
      <soap12:operation soapAction="http://tempuri.org/AddAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoesExist">
      <soap12:operation soapAction="http://tempuri.org/DoesExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HasAmount">
      <soap12:operation soapAction="http://tempuri.org/HasAmount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pay">
      <soap12:operation soapAction="http://tempuri.org/Pay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddToBalance">
      <soap12:operation soapAction="http://tempuri.org/AddToBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Bank">
    <wsdl:port name="BankSoap" binding="tns:BankSoap">
      <soap:address location="https://localhost:44308/BankService.asmx" />
    </wsdl:port>
    <wsdl:port name="BankSoap12" binding="tns:BankSoap12">
      <soap12:address location="https://localhost:44308/BankService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>